### *Importing Libraries and loading Data*

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
smokers_df = pd.read_csv("./smokers.csv")
prescriptions_df = pd.read_csv("./prescriptions.csv")
metrics_df = pd.read_csv("./metrics.csv")
fatalities_df = pd.read_csv("./fatalities.csv")
admissions_df = pd.read_csv("./admissions.csv")

In [3]:
smokers_df.head()

   Year      Method  Sex  16 and Over  16-24  25-34  35-49  50-59  60 and Over
0  1974  Unweighted  NaN           46     44     51     52     50           33
1  1976  Unweighted  NaN           42     42     45     48     48           30
2  1978  Unweighted  NaN           40     39     45     45     45           30
3  1980  Unweighted  NaN           39     37     46     44     45           29
4  1982  Unweighted  NaN           35     35     38     39     41           27

In [4]:
smokers_df.shape

(84, 9)

In [5]:
smokers_df['Total'] =smokers_df['16 and Over']+smokers_df['16-24']+smokers_df['25-34']+smokers_df['35-49']+smokers_df['50-59']+smokers_df['60 and Over']

In [6]:
smokers_df.head()

,Year,Method,Sex,16 and Over,16-24,25-34,35-49,50-59,60 and Over,Total
0,1974,Unweighted,NaN,46,44,51,52,50,33,276
1,1976,Unweighted,NaN,42,42,45,48,48,30,255
2,1978,Unweighted,NaN,40,39,45,45,45,30,244
3,1980,Unweighted,NaN,39,37,46,44,45,29,240
4,1982,Unweighted,NaN,35,35,38,39,41,27,215

In [7]:
# Drop Unwanted Columns
smokers_df = smokers_df.drop(columns = ['16 and Over', '16-24', '25-34','35-49','50-59','60 and Over'])

In [8]:
smokers_df

    Year      Method     Sex  Total
0   1974  Unweighted     NaN    276
1   1976  Unweighted     NaN    255
2   1978  Unweighted     NaN    244
3   1980  Unweighted     NaN    240
4   1982  Unweighted     NaN    215
..   ...         ...     ...    ...
79  2010    Weighted  Female    125
80  2011    Weighted  Female    117
81  2012    Weighted  Female    117
82  2013    Weighted  Female    106
83  2014    Weighted  Female    109

[84 rows x 4 columns]

In [9]:
prescriptions_df.head()

,Year,All Pharmacotherapy Prescriptions,Nicotine Replacement Therapy (NRT) Prescriptions,Bupropion (Zyban) Prescriptions,Varenicline (Champix) Prescriptions,Net Ingredient Cost of All Pharmacotherapies,Net Ingredient Cost of Nicotine Replacement Therapies (NRT),Net Ingredient Cost of Bupropion (Zyban),Net Ingredient Cost of Varenicline (Champix)
0,2014/15,1348,766,21,561.0,38145,18208,807,19129.0
1,2013/14,1778,1059,22,697.0,48767,24257,865,23646.0
2,2012/13,2203,1318,26,859.0,58121,28069,994,29058.0
3,2011/12,2532,1545,30,957.0,64552,30951,1216,32385.0
4,2010/11,2564,1541,36,987.0,65883,30808,1581,33494.0

In [10]:
prescriptions_df.shape

(11, 9)

In [11]:
# Selecting only Year in this prescriptions_df['Year'] columns
for i in range(0, len(prescriptions_df['Year'])):
    prescriptions_df['Year'][i] = (prescriptions_df['Year'][i])[:4]

In [12]:
prescriptions_df

,Year,All Pharmacotherapy Prescriptions,Nicotine Replacement Therapy (NRT) Prescriptions,Bupropion (Zyban) Prescriptions,Varenicline (Champix) Prescriptions,Net Ingredient Cost of All Pharmacotherapies,Net Ingredient Cost of Nicotine Replacement Therapies (NRT),Net Ingredient Cost of Bupropion (Zyban),Net Ingredient Cost of Varenicline (Champix)
0,2014,1348,766,21,561.0,38145,18208,807,19129.0
1,2013,1778,1059,22,697.0,48767,24257,865,23646.0
2,2012,2203,1318,26,859.0,58121,28069,994,29058.0
3,2011,2532,1545,30,957.0,64552,30951,1216,32385.0
4,2010,2564,1541,36,987.0,65883,30808,1581,33494.0
5,2009,2483,1559,47,877.0,63425,31429,2060,29936.0
6,2008,2263,1492,58,714.0,57520,30683,2143,24694.0
7,2007,2475,1756,107,612.0,61479,35883,3882,21714.0
8,2006,2079,1938,119,22.0,44817,39743,4315,760.0
9,2005,2205,2076,129,NaN,48092,43465,4627,NaN
10,2004,2044,1908,136,NaN,46093,40942,5151,NaN

In [13]:
pharmacotherapy = ['Year', 'All Pharmacotherapy Prescriptions', 'Net Ingredient Cost of All Pharmacotherapies']
nicotine = ['Year', 'Nicotine Replacement Therapy (NRT) Prescriptions', 'Net Ingredient Cost of Nicotine Replacement Therapies (NRT)']
bupropion = ['Year', 'Bupropion (Zyban) Prescriptions', 'Net Ingredient Cost of Bupropion (Zyban)']

In [14]:
prescriptions_df[pharmacotherapy]

,Year,All Pharmacotherapy Prescriptions,Net Ingredient Cost of All Pharmacotherapies
0,2014,1348,38145
1,2013,1778,48767
2,2012,2203,58121
3,2011,2532,64552
4,2010,2564,65883
5,2009,2483,63425
6,2008,2263,57520
7,2007,2475,61479
8,2006,2079,44817
9,2005,2205,48092
10,2004,2044,46093

In [15]:
prescriptions_df[nicotine]

,Year,Nicotine Replacement Therapy (NRT) Prescriptions,Net Ingredient Cost of Nicotine Replacement Therapies (NRT)
0,2014,766,18208
1,2013,1059,24257
2,2012,1318,28069
3,2011,1545,30951
4,2010,1541,30808
5,2009,1559,31429
6,2008,1492,30683
7,2007,1756,35883
8,2006,1938,39743
9,2005,2076,43465
10,2004,1908,40942

In [16]:
prescriptions_df[bupropion]

,Year,Bupropion (Zyban) Prescriptions,Net Ingredient Cost of Bupropion (Zyban)
0,2014,21,807
1,2013,22,865
2,2012,26,994
3,2011,30,1216
4,2010,36,1581
5,2009,47,2060
6,2008,58,2143
7,2007,107,3882
8,2006,119,4315
9,2005,129,4627
10,2004,136,5151

In [17]:
metrics_df

,Year,Tobacco Price\nIndex,Retail Prices\nIndex,Tobacco Price Index Relative to Retail Price Index,Real Households' Disposable Income,Affordability of Tobacco Index,Household Expenditure on Tobacco,Household Expenditure Total,Expenditure on Tobacco as a Percentage of Expenditure
0,2015,1294.3,386.7,334.7,196.4,58.7,19252.0,1152387.0,1.7
1,2014,1226.0,383.0,320.1,190.0,59.4,19411.0,1118992.0,1.7
2,2013,1139.3,374.2,304.5,190.3,62.5,18683.0,1073106.0,1.7
3,2012,1057.8,363.1,291.3,192.9,66.2,18702.0,1029378.0,1.8
4,2011,974.9,351.9,277.1,189.3,68.3,18217.0,990828.0,1.8
5,2010,878.3,334.5,262.6,195.0,74.3,17176.0,954781.0,1.8
6,2009,815.9,319.7,255.2,195.7,76.7,16209.0,911665.0,1.8
7,2008,784.7,321.3,244.2,192.5,78.8,15879.0,928265.0,1.7
8,2007,751.5,309.1,243.1,195.9,80.6,15766.0,898478.0,1.8
9,2006,713.7,296.4,240.8,192.3,79.9,15542.0,851456.0,1.8
10,2005,683.1,287.2,237.8,190.6,80.1,15300.0,813580.0,1.9
11,2004,654.6,279.3,234.4,188.7,80.5,15375.0,772164.0,2.0
12,2003,632.0,271.2,233.0,187.4,80.4,15223.0,731780.0,2.1
13,2002,610.4,263.6,231.6,184.4,79.6,14465.0,695912.0,2.1
14,2001,592.5,259.3,228.5,180.8,79.1,14339.0,665058.0,2.2
15,2000,562.0,254.8,220.6,173.3,78.5,14026.0,639405.0,2.2
16,1999,517.3,247.4,209.0,163.7,78.3,14047.0,602922.0,2.3
17,1998,464.1,243.7,190.4,158.8,83.4,13318.0,569829.0,2.3
18,1997,427.3,235.6,181.3,155.6,85.8,12696.0,534755.0,2.4
19,1996,398.0,228.4,174.2,150.0,86.1,12265.0,499354.0,2.5
20,1995,373.0,223.1,167.2,145.7,87.1,11519.0,465225.0,2.5
21,1994,349.6,215.6,162.2,142.1,87.6,10933.0,441911.0,2.5
22,1993,325.0,210.5,154.4,139.5,90.3,10759.0,420673.0,2.6
23,1992,299.7,207.2,144.6,135.9,93.9,10280.0,396519.0,2.6
24,1991,270.0,199.7,135.2,132.0,97.6,9648.0,374468.0,2.6
25,1990,236.1,188.6,125.1,129.5,103.5,8649.0,349982.0,2.5
26,1989,221.1,172.3,128.3,124.8,97.2,8170.0,322967.0,2.5
27,1988,214.9,159.9,134.4,118.8,88.4,7936.0,294521.0,2.7
28,1987,208.0,152.4,136.5,112.8,82.6,7665.0,260425.0,2.9
29,1986,201.6,146.3,137.8,111.6,81.0,7485.0,237015.0,3.2
30,1985,183.5,141.5,129.7,107.5,82.9,7006.0,214449.0,3.3
31,1984,168.6,133.4,126.4,103.4,81.8,NaN,NaN,NaN
32,1983,152.0,127.1,119.6,100.3,83.9,NaN,NaN,NaN
33,1982,142.5,121.5,117.3,98.7,84.2,NaN,NaN,NaN
34,1981,123.5,111.9,110.4,99.1,89.7,NaN,NaN,NaN
35,1980,100.0,100.0,100.0,100.0,100.0,NaN,NaN,NaN

In [18]:
metrics_df.shape

(36, 9)

In [19]:
fatalities_df.head()

,Year,ICD10 Code,ICD10 Diagnosis,Diagnosis Type,Metric,Sex,Value
0,2014,All codes,All deaths,All deaths,Number of observed deaths,NaN,459087
1,2014,C33-C34 & C00-C14 & C15 & C32 & C53 & C67 & C6...,All deaths which can be caused by smoking,All deaths which can be caused by smoking,Number of observed deaths,NaN,235820
2,2014,C00-D48,All cancers,All cancers,Number of observed deaths,NaN,136312
3,2014,J00-J99,All respiratory diseases,All respiratory diseases,Number of observed deaths,NaN,61744
4,2014,I00-I99,All circulatory diseases,All circulatory diseases,Number of observed deaths,NaN,126101

In [20]:
fatalities_df.shape

(1749, 7)

In [21]:
# Drop Unwanted Columns
fatalities_df = fatalities_df.drop(columns = ['ICD10 Code'])

In [22]:
fatalities_df.head()

,Year,ICD10 Diagnosis,Diagnosis Type,Metric,Sex,Value
0,2014,All deaths,All deaths,Number of observed deaths,NaN,459087
1,2014,All deaths which can be caused by smoking,All deaths which can be caused by smoking,Number of observed deaths,NaN,235820
2,2014,All cancers,All cancers,Number of observed deaths,NaN,136312
3,2014,All respiratory diseases,All respiratory diseases,Number of observed deaths,NaN,61744
4,2014,All circulatory diseases,All circulatory diseases,Number of observed deaths,NaN,126101

In [23]:
d1 = fatalities_df['Diagnosis Type'].value_counts()
d1

Diagnosis Type
Cancers which can be caused by smoking                      726
Circulatory diseases which can be caused by smoking         396
Respiratory diseases which can be caused by smoking         198
All deaths                                                   66
All cancers                                                  66
All respiratory diseases                                     66
All circulatory diseases                                     66
All diseases of the digestive system                         66
Digestive diseases which can be caused caused by smoking     66
All deaths which can be caused by smoking                    33
Name: count, dtype: int64

In [24]:
admissions_df.head()

,Year,ICD10 Code,ICD10 Diagnosis,Diagnosis Type,Metric,Sex,Value
0,2014/15,All codes,All admissions,All admissions,Number of admissions,NaN,11011882
1,2014/15,C33-C34 & C00-C14 & C15 & C32 & C53 & C67 & C6...,All diseases which can be caused by smoking,All diseases which can be caused by smoking,Number of admissions,NaN,1713330
2,2014/15,C00-D48,All cancers,All cancers,Number of admissions,NaN,1691035
3,2014/15,J00-J99,All respiratory diseases,All respiratory diseases,Number of admissions,NaN,611002
4,2014/15,I00-I99,All circulatory diseases,All circulatory diseases,Number of admissions,NaN,907157

In [25]:
admissions_df.shape

(2079, 7)

In [26]:
# Selecting only Year in this admissions_df['Year'] columns
for i in range(0, len(admissions_df['Year'])):
    admissions_df['Year'][i] = (admissions_df['Year'][i])[:4]

In [27]:
admissions_df.head()

,Year,ICD10 Code,ICD10 Diagnosis,Diagnosis Type,Metric,Sex,Value
0,2014,All codes,All admissions,All admissions,Number of admissions,NaN,11011882
1,2014,C33-C34 & C00-C14 & C15 & C32 & C53 & C67 & C6...,All diseases which can be caused by smoking,All diseases which can be caused by smoking,Number of admissions,NaN,1713330
2,2014,C00-D48,All cancers,All cancers,Number of admissions,NaN,1691035
3,2014,J00-J99,All respiratory diseases,All respiratory diseases,Number of admissions,NaN,611002
4,2014,I00-I99,All circulatory diseases,All circulatory diseases,Number of admissions,NaN,907157

In [28]:
# Drop Unwanted Columns
admissions_df = admissions_df.drop(columns = ['ICD10 Code'])

In [29]:
admissions_df.head()

,Year,ICD10 Diagnosis,Diagnosis Type,Metric,Sex,Value
0,2014,All admissions,All admissions,Number of admissions,NaN,11011882
1,2014,All diseases which can be caused by smoking,All diseases which can be caused by smoking,Number of admissions,NaN,1713330
2,2014,All cancers,All cancers,Number of admissions,NaN,1691035
3,2014,All respiratory diseases,All respiratory diseases,Number of admissions,NaN,611002
4,2014,All circulatory diseases,All circulatory diseases,Number of admissions,NaN,907157

In [30]:
d2 = admissions_df['Diagnosis Type'].value_counts()
d2

Diagnosis Type
Cancers which can be caused by smoking                      726
Circulatory diseases which can be caused by smoking         396
Respiratory diseases which can be caused by smoking         198
Digestive diseases which can be caused caused by smoking    198
Other diseases which can be caused by smoking               198
All admissions                                               66
All cancers                                                  66
All respiratory diseases                                     66
All circulatory diseases                                     66
All diseases of the digestive system                         66
All diseases which can be caused by smoking                  33
Name: count, dtype: int64

In [31]:
# display both Diagnosis Type
display(d1, d2)

Diagnosis Type
Cancers which can be caused by smoking                      726
Circulatory diseases which can be caused by smoking         396
Respiratory diseases which can be caused by smoking         198
All deaths                                                   66
All cancers                                                  66
All respiratory diseases                                     66
All circulatory diseases                                     66
All diseases of the digestive system                         66
Digestive diseases which can be caused caused by smoking     66
All deaths which can be caused by smoking                    33
Name: count, dtype: int64

Diagnosis Type
Cancers which can be caused by smoking                      726
Circulatory diseases which can be caused by smoking         396
Respiratory diseases which can be caused by smoking         198
Digestive diseases which can be caused caused by smoking    198
Other diseases which can be caused by smoking               198
All admissions                                               66
All cancers                                                  66
All respiratory diseases                                     66
All circulatory diseases                                     66
All diseases of the digestive system                         66
All diseases which can be caused by smoking                  33
Name: count, dtype: int64

In [32]:
# concat the data
d3 = pd.concat((d1, d2), axis = 1)
d3

                                                    count  count
Diagnosis Type
Cancers which can be caused by smoking              726.0  726.0
Circulatory diseases which can be caused by smo...  396.0  396.0
Respiratory diseases which can be caused by smo...  198.0  198.0
All deaths                                           66.0    NaN
All cancers                                          66.0   66.0
All respiratory diseases                             66.0   66.0
All circulatory diseases                             66.0   66.0
All diseases of the digestive system                 66.0   66.0
Digestive diseases which can be caused caused b...   66.0  198.0
All deaths which can be caused by smoking            33.0    NaN
Other diseases which can be caused by smoking         NaN  198.0
All admissions                                        NaN   66.0
All diseases which can be caused by smoking           NaN   33.0

In [33]:
diagnosis_type = pd.crosstab(admissions_df['Diagnosis Type'],fatalities_df['Diagnosis Type'])
diagnosis_type

Diagnosis Type,All cancers,All circulatory diseases,All deaths,All deaths which can be caused by smoking,All diseases of the digestive system,All respiratory diseases,Cancers which can be caused by smoking,Circulatory diseases which can be caused by smoking,Digestive diseases which can be caused caused by smoking,Respiratory diseases which can be caused by smoking
Diagnosis Type,,,,,,,,,,
All admissions,1,3,4,1,2,2,23,12,2,6
All cancers,2,3,3,1,1,2,24,12,2,6
All circulatory diseases,3,2,1,1,2,2,25,11,3,6
All diseases of the digestive system,1,2,3,1,2,3,24,12,2,6
All diseases which can be caused by smoking,2,0,0,1,2,1,12,6,1,3
All respiratory diseases,2,2,2,2,3,2,23,12,1,7
Cancers which can be caused by smoking,22,23,22,12,22,21,259,141,22,72
Circulatory diseases which can be caused by smoking,13,12,13,6,12,13,133,77,14,37
Digestive diseases which can be caused caused by smoking,7,6,6,4,7,6,68,37,7,17
Other diseases which can be caused by smoking,7,7,6,2,7,7,69,36,6,18
Respiratory diseases which can be caused by smoking,6,6,6,2,6,7,66,40,6,20

In [34]:
diagnosis_ICD10 = pd.crosstab(admissions_df['ICD10 Diagnosis'],fatalities_df['ICD10 Diagnosis'])
diagnosis_ICD10

ICD10 Diagnosis,All cancers,All circulatory diseases,All deaths,All deaths which can be caused by smoking,All diseases of the digestive system,All respiratory diseases,Aortic Aneurysm,Atherosclerosis,Bladder,Cerebrovascular Disease,...,Oesophagus,Other Heart Disease,Other arterial disease,Pancreas,"Pneumonia, Influenza",Stomach,Stomach / Duodenal Ulcer,"Trachea, Lung, Bronchus",Unspecified Site,Upper Respiratory Sites
ICD10 Diagnosis,,,,,,,,,,,,,,,,,,,,,
Age Related Cataract 45+,2,3,3,1,2,2,3,2,3,2,...,1,2,1,3,1,2,1,1,2,3
All admissions,1,3,4,1,2,2,3,1,3,2,...,1,3,1,3,1,2,2,2,1,3
All cancers,2,3,3,1,1,2,3,1,2,2,...,1,3,1,3,1,2,2,2,1,4
All circulatory diseases,3,2,1,1,2,2,1,2,1,2,...,4,2,3,2,3,2,3,3,2,1
All diseases of the digestive system,1,2,3,1,2,3,2,1,2,3,...,2,3,1,2,2,3,2,2,2,3
All diseases which can be caused by smoking,2,0,0,1,2,1,0,2,1,1,...,2,0,2,0,2,1,1,2,2,0
All respiratory diseases,2,2,2,2,3,2,2,3,3,1,...,2,1,2,2,2,2,1,1,3,2
Aortic Aneurysm,3,1,1,1,2,3,2,2,1,2,...,3,2,3,1,3,2,3,3,2,1
Atherosclerosis,1,3,3,1,1,3,2,2,2,3,...,2,3,1,2,2,3,2,2,1,3
Bladder,2,1,2,0,2,3,1,2,2,3,...,3,2,2,1,3,3,3,3,2,2
Cerebrovascular Disease,3,2,2,2,3,1,2,3,3,2,...,2,1,2,2,2,1,1,1,3,2
Cervical,3,2,1,1,3,1,2,3,2,1,...,2,2,3,2,2,1,2,2,4,1
Chronic Airway Obstruction,2,2,2,0,1,3,2,1,1,4,...,2,3,2,2,2,3,3,3,1,2
Chronic Obstructive Lung Disease,3,1,1,1,3,2,1,3,2,2,...,3,1,4,1,3,2,2,2,3,1
Crohns Disease,3,1,2,1,3,2,1,3,2,2,...,3,1,3,1,3,2,2,3,3,1
Hip Fracture 55+,3,2,1,1,3,2,2,3,2,1,...,3,1,3,2,2,1,2,2,3,1
Ischaemic Heart Disease,2,1,2,0,2,3,1,2,1,3,...,3,2,2,1,3,3,4,3,2,2
Kidney and Renal Pelvis,1,3,3,1,1,2,3,1,2,2,...,1,3,2,3,1,2,2,2,1,3
Larynx,1,3,3,1,2,2,3,2,3,2,...,2,2,1,4,2,2,1,1,2,3
Myeloid Leukaemia,2,3,2,2,2,1,3,2,3,1,...,1,2,2,3,1,1,2,1,2,2
Oesophagus,2,2,2,0,1,3,2,1,1,3,...,2,3,2,2,2,4,3,3,1,2
Other Heart Disease,3,2,1,1,3,1,2,4,2,1,...,2,2,3,2,2,1,2,2,3,1
Other arterial disease,1,3,4,1,1,2,3,1,2,2,...,1,3,2,3,1,2,2,2,1,3
Pancreas,3,1,1,1,2,2,2,2,1,2,...,3,2,3,2,4,2,3,3,2,1
Periodontal Disease / Periodonitis,2,2,2,1,1,3,2,1,1,3,...,2,3,2,2,2,3,3,3,1,3
"Pneumonia, Influenza",1,3,3,1,2,2,4,2,3,2,...,1,2,1,3,2,2,1,1,2,3
Spontaneous Abortion,2,2,2,0,2,3,1,2,1,3,...,3,2,2,1,3,3,3,3,2,2
Stomach,2,2,2,2,3,1,2,3,3,2,...,2,1,2,2,2,2,1,1,3,2
Stomach / Duodenal Ulcer,2,3,2,2,3,1,3,2,3,1,...,1,2,2,3,1,1,2,1,2,2
"Trachea, Lung, Bronchus",2,3,2,2,2,1,3,2,4,1,...,1,2,2,3,1,1,1,2,2,2
Unspecified Site,1,2,3,1,1,3,2,2,2,3,...,2,4,1,2,2,3,2,2,2,3
Upper Respiratory Sites,3,1,1,1,3,2,1,3,2,2,...,3,1,3,1,3,2,2,2,3,2

In [35]:
metric = pd.crosstab(admissions_df['Metric'],fatalities_df['Metric'])
metric

Metric                Attributable number  Number of observed deaths
Metric
Attributable number                   430                        423
Number of admissions                  428                        468

In [36]:
# Merging or Concating data fatalities_df & admissions_df
df1 = pd.concat((fatalities_df, admissions_df), axis = 1)

In [37]:
df1

,Year,ICD10 Diagnosis,Diagnosis Type,Metric,Sex,Value,Year,ICD10 Diagnosis,Diagnosis Type,Metric,Sex,Value
0,2014.0,All deaths,All deaths,Number of observed deaths,NaN,459087,2014,All admissions,All admissions,Number of admissions,NaN,11011882
1,2014.0,All deaths which can be caused by smoking,All deaths which can be caused by smoking,Number of observed deaths,NaN,235820,2014,All diseases which can be caused by smoking,All diseases which can be caused by smoking,Number of admissions,NaN,1713330
2,2014.0,All cancers,All cancers,Number of observed deaths,NaN,136312,2014,All cancers,All cancers,Number of admissions,NaN,1691035
3,2014.0,All respiratory diseases,All respiratory diseases,Number of observed deaths,NaN,61744,2014,All respiratory diseases,All respiratory diseases,Number of admissions,NaN,611002
4,2014.0,All circulatory diseases,All circulatory diseases,Number of observed deaths,NaN,126101,2014,All circulatory diseases,All circulatory diseases,Number of admissions,NaN,907157
...,...,...,...,...,...,...,...,...,...,...,...,...
2074,NaN,NaN,NaN,NaN,NaN,NaN,2004,Crohns Disease,Digestive diseases which can be caused caused ...,Attributable number,Female,1400
2075,NaN,NaN,NaN,NaN,NaN,NaN,2004,Periodontal Disease / Periodonitis,Digestive diseases which can be caused caused ...,Attributable number,Female,700
2076,NaN,NaN,NaN,NaN,NaN,NaN,2004,Age Related Cataract 45+,Other diseases which can be caused by smoking,Attributable number,Female,8900
2077,NaN,NaN,NaN,NaN,NaN,NaN,2004,Hip Fracture 55+,Other diseases which can be caused by smoking,Attributable number,Female,4900
2078,NaN,NaN,NaN,NaN,NaN,NaN,2004,Spontaneous Abortion,Other diseases which can be caused by smoking,Attributable number,Female,700

In [38]:
df1.shape

(2079, 12)

In [39]:
smokers_df

    Year      Method     Sex  Total
0   1974  Unweighted     NaN    276
1   1976  Unweighted     NaN    255
2   1978  Unweighted     NaN    244
3   1980  Unweighted     NaN    240
4   1982  Unweighted     NaN    215
..   ...         ...     ...    ...
79  2010    Weighted  Female    125
80  2011    Weighted  Female    117
81  2012    Weighted  Female    117
82  2013    Weighted  Female    106
83  2014    Weighted  Female    109

[84 rows x 4 columns]

In [40]:
metric_Method_admissions = pd.crosstab(admissions_df['Metric'], smokers_df['Method'])
metric_Method_admissions

Method                Unweighted  Weighted
Metric
Attributable number           16        15
Number of admissions          23        30

In [41]:
metric_Method_fatalities = pd.crosstab(fatalities_df['Metric'], smokers_df['Method'])
metric_Method_fatalities

Method                     Unweighted  Weighted
Metric
Attributable number                13        17
Number of observed deaths          26        28